& {
  padding: 80px 0 20px 0;
  margin-top: -80px;
  background: linear-gradient(to bottom,
    rgba(0,136,204,0) 0%,
    rgba(0,136,204,0.5) 55%,
    rgba(0,136,204,1) 100%);
  #theme-footer {
    margin: auto;
    color: #fff;
    font-size: 14px;
    text-align: center;
    a {
      color: #fff;
    }
  }
  .scrollToTop {
    background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="55px" height="55px"><path d="M 23.84 0.00 C 10.67 0.00 0.00 10.67 0.00 23.84 c 0.00 13.17 10.67 23.84 23.84 23.84 c 13.17 0.00 23.84 -10.67 23.84 -23.84 C 47.67 10.67 37.00 0.00 23.84 0.00 z M 35.27 28.92 c -0.62 0.62 -1.63 0.62 -2.25 0.00 l -9.19 -9.19 l -9.19 9.19 c -0.62 0.62 -1.63 0.62 -2.25 0.00 c -0.62 -0.62 -0.62 -1.63 0.00 -2.25 L 22.71 16.37 c 0.31 -0.31 0.72 -0.46 1.13 -0.46 s 0.82 0.15 1.13 0.46 L 35.27 26.68 C 35.89 27.29 35.89 28.30 35.27 28.92 z" fill="white"/></svg>');
    background-repeat: no-repeat;
    background-color: transparent;
    position: fixed;
    border: 3px solid transparent;
    border-radius: 100%;
    bottom: 15px;
    right: 15px;
    padding: 24px;
    display: none;
  }
}

// & {
//   padding: 60px 0;
//   background: linear-gradient(to bottom,
//     rgba(0,136,204,0) 0%,
//     rgba(0,136,204,0.8) 60%,
//     rgba(0,136,204,1) 100%);
//   #theme-footer {
//     color: #fff;
//     font-size: 16px;
//     a {
//       color: #fff;
//     }
//   }
// }
