$font: 'Chewy';

& {
  box-shadow: none;
  border: none;
}

#article-header .title, #not-found h1, #access-denied h1 {
  font-family: $font;
  font-weight: bold;
  font-size: 30px;
  font-variant: normal;
  border-bottom: none;
  color: #06A;
}

#article {
  font-size: 14px;
  line-height: 20px;
  color: #444;
}

.title {
  a {
    color: #08D;
    font-family: $font;
    font-variant: normal;
  }
}
