<link rel="shortcut icon" href="/designs/themes/tecciencia/favicon.ico" type="image/x-icon" />
<nav <%= user ? '' : 'class="not-logged-in"'.html_safe %> >
  <ul>
    <li><a href="/tecciencia/areas-do-conhecimento">Áreas do Conhecimento</a></li>
    <li><a href="/profile/tecciencia/events">Eventos</a></li>
    <li><a href="/tecciencia/noticias">Noticias</a></li>
    <li><a href="/tecciencia/sobre">Sobre</a></li>
    <% unless !user %>
    <li><%= link_to "Nova Comunidade", controller:'tecciencia_plugin_relacionamento', action:'new_community'%></li>
    <% end %>
    <% unless user  %>
    <li class="login-link"><%= modal_link_to_login %></li>
    <% @plugins.dispatch(:alternative_authentication_link).collect do |content|%>
    <li><%= instance_exec(&content) %></li>
    <%end%>
    <div id='inlineLoginBox' style='display: none;'>
      <%= render file: 'account/login', locals: { is_popin: true } %>
    </div>
    <% end %>
    <div class="toggle-mobile-menu"><hr><hr><hr></div>
  </ul>
</nav>
<% unless !user %>
 <div id="user-menu">
<%= link_to("#{profile_image(user, :minor, class: "profile-icon")} #{content_tag :span, user.name, id: 'user-name'}".html_safe, '#', class: 'trigger-menu-toggle') %>
<%= link_to(font_awesome('caret-down'), '#', class: "menu-toggle", id: "menu-dropdown") %>
 <ul class="noosfero-dropdown-menu">
  <li><%= link_to font_awesome(:user, _('My Profile')), url_for(user.public_profile_url) %></li>
   <% user_menu_items.flatten.reject(&:blank?).each do |item| %>
   <li><%= item %></li>
   <% end %>
  </li>
 </ul>
 </div>
<% end %>
