@import url(../base/style.css);
@import url('https://fonts.googleapis.com/css?family=Play');
@import url('https://fonts.googleapis.com/css?family=Chewy|Overlock:400,400i,700,700i,900,900i&subset=latin-ext');

body {
  background-image: url("images/Icones Ciencias.png");
  background-color: white;
  background-attachment: fixed;
}

@import 'header';

#navigation {
  display: flex;
  background: none;
  #site-title {
    position: fixed;
    top: 0px;
    left: 0;
    width: auto;
    height: auto;
    z-index: 3;
    a{
      position: static;
      height: auto;
      img{
        max-width: 250px;
        width: 25vw;
      }
    }
  }
}


/************************** content ***************************/
#wrap-1 {
  width: 100%;
}

#wrap-2 {
  margin: auto;
  max-width: 100vw;
  border: none;
  padding: 0;
  background: transparent;
  .controller-cms.action-cms-new &, .controller-cms.action-cms-edit & {
    background-color: #FFF;
    border-radius: 15px;
    box-shadow: 0 0 12px rgba(0,0,0,0.4);
  }
  #content {
    margin: 132px 0 0 0;
    padding: 0;
    .boxes{
      flex-wrap: initial;
    }
    #boxes{
      @import 'blocks';
    }
    .main-content {
      @import 'main';
    }
  }
}
.path-to-parents{
  display: none;
}

.boxes {
   display: flex;
   flex-wrap: unset;
   width: unset;
}

#chat-label {
  bottom: 25%;
  top: auto;
}
/************************** theme footer ***************************/

#footer {
  @import 'footer';
}
